*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5e5e5
}
header{
    width: 400px;
    height: 250px;
    background-color: white;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}
nav{
    background-image: linear-gradient(red, rgb(241, 35, 35), red);
}
img {
    width: 100%;
}
header ul {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 250px;
}
header li {
    position: relative;
    animation: slide 15s infinite ease-out;
}
@keyframes slide {
    0%{left:0px}
    20%{left:0px}
    30%{left:-400px}
    50%{left:-400px}
    60%{left:-800px}
    80%{left:-800px}
    100%{left:0px}
}