*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}
main {
width: 1024px;
}
header{
background-color: #a38e45;
height: 3.5em;
margin-top: 350px;
}
header img {
  float: left;
  margin: 0.5em 0 0 100px;
  padding-right: 420px;
}

nav ul li{
float: left;
list-style: none;
text-align: center;
padding: 1.2em;
}

nav ul li a{
text-decoration: none;
text-transform: uppercase;
color: white;
font-weight: bold;
display: block;
}

nav ul li a:hover{
color: #f6f2bb;
}

nav a{
font-size: 0.8em;
letter-spacing: 5px;
transition: color 0.5s ease;
}
.slider{
  width: 1024px;
  height: 600px;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  transition: 2s;
}


/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 50px;
}

.manual-btn:hover{
  background: #ffffff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-left: 90px;
  margin-top: 550px;
}

.navigation-auto div{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #ffffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #ffffff;
}